h3 Новости
.row
   .col-lg-6.col-md-12.col-sm-12
       .row
           if news && news.length
               - tmp_news = news.shift();
               .col-lg-12.col-md-8.col-sm-12.cast-news-item.is-first
                   //- just a temporary image
                   img(src=tmp_news.img_url).cast-img
               - tmp_news.img_url = null
               .col-lg-12.col-md-4.col-sm-12.cast-news-item.is-first
                  mixin news_thumb(tmp_news)
                - tmp_text = tmp_news.text
                if tmp_text.length > 256 && !news_block_no_news_cut
                    - tmp_text = tmp_text.substr(0,256) + "..."
                  .cast-news-text!=tmp_text
   .col-lg-6.col-md-12.col-sm-12
       if news_block_title
           h3.small-header-with-icon
               span.sprite.sprite-i-fav-speech-bubble
               em=news_block_title
       .row
           if news
               each news_item, i in news
                  .col-md-4.col-lg-6.col-sm-6.cast-news-item
                      mixin news_thumb(news_item)
                  if i > 0 && (i + 1) % 2 == 0
                      .visible-lg-block.visible-sm-block.clearboth
                  if i > 0 && (i + 1) % 3 == 0
                      .visible-md-block.clearboth
               if !news_block_no_archive_link
                   .col-md-4.col-lg-6.col-sm-6
                       .cast-news-archive
                           a(href="/news")
                               .sprite.sprite-i-news-archive
                               span Архив новостей