footer(role="contentinfo")
    .container
        .row
            .col-md-3
                img(src="", alt="Лого Шоу Онлайн", title="Лого Шоу Онлайн")
                div © 2014—2015 showonline.com
                    br
                    | Все права защищены.
            .col-md-1
                | Смотрите
                ul
                    li
                        a(href="#") Физрук
                    li
                        a(href="#") Дом 2
            .col-md-2
                | О нас
                ul
                    li
                        a(href="#") О проекте
                    li
                        a(href="#") Размещение рекламы
                    li
                        a(href="#") Правообладателям
            .col-md-3
                | Пользователям
                ul
                    li
                        a(href="")
                            | Пользовательское
                            br
                            | соглашение
                    li
                        a(href="")
                            | Политика
                            br
                            | конфиденциальности

            .col-md-3
                p Идея, создание и развитие ресурса:
                p Solaris Promo Production
                img(src="", alt="Лого Solaris Promo", title="Лого Solaris Promo")
