
section.head-bar
    .container
            .row
                .col-lg-2.col-md-2.col-sm-3.col-xs-12.site-logo-block
                    a(href="/")
                        img(src=img_url + 'site_logo.png',title="Шоу онлайн", alt="Шоу онлайн").site-logo
                .col-lg-3.col-md-10.col-sm-9.col-xs-12.search-block
                    .input-group.search-input-group
                        input(type="text", class="form-control")
                        .input-group-btn
                            button(type="submit").btn.btn-default
                                i.sprite.sprite-i-search-btn
                .col-lg-7.col-md-12.col-sm-12.col-xs-12.site-menu-block
                    ul.menu-header
                        li
                            a(href="/show")
                                .sprite-wrapper
                                    i.sprite.sprite-i-menu-header-show
                                | Шоу и сериалы
                        li
                            a(href="#")
                                .sprite-wrapper
                                    i.sprite.sprite-i-menu-header-star
                                | Звезды
                        li
                            a(href="/news")
                                .sprite-wrapper
                                    i.sprite.sprite-i-menu-header-news
                                | Новости
                        li
                            a#login_btn(href="/auth/login/vk-oauth2")
                                .sprite-wrapper
                                    i.sprite.sprite-i-menu-header-login
                                | Войти
                        li
                            .sprite-wrapper
                            a#reg_btn(href="#")
                                | Регистрация