doctype html
html
    include config
    include mixins
    include head
    body
        include header
        .shadow-container-wrapper.is-header-pushed.height100rel
            .shadow-container.height100rel
                section(style="height: 100%; background: #fafafa;").page-error404.is-footer-pushed.height100rel
                    .container.height100rel
                        .row.height100rel
                            .col-md-6.col-sm-6.col-xs-6.tape-camera-block.height100rel
                                .tape-camera
                                    - tape_camera_url = img_url + "tape-camera-picture.png"
                                    img(src=tape_camera_url)
                            .col-md-6.col-sm-6.col-xs-6.error-info-block.height100rel
                                .error-info-text
                                    h3 Страница не найдена

                                    p Ошибка 404. К сожалению запрашиваемая вами страница не найдена.

                                    em Возможные причины:
                                    ul.reasons-list
                                        li Вы выбрали неправильный адрес.
                                        li Страница была удалена с сайта или никогда не существовала
                                    em Что делать?
                                    ul.what-todo_list
                                        li Убедитесь что набираемый адрес правильный.
                                        li Начните пользоваться сайтом с главной страницы.

                include footer
