doctype html
html
    include config
    include mixins
    include head
    body
        include header

        .shadow-container
            section.page-news-main-block
                .container
                    h3 Новости
                    .row
                        .col-lg-6.col-md-12.col-sm-12
                            .row
                                if discussed_news && discussed_news.length
                                    - item = discussed_news.shift();
                                    .col-lg-12.col-md-8.col-sm-12.cast-news-item.is-first
                                        img(src=item.img_url).cast-img
                                    - item.img_url = null
                                    .col-lg-12.col-md-4.col-sm-12.cast-news-item.is-first
                                        mixin cast_news_item(item)
                        .col-lg-6.col-md-12.col-sm-12.discussed-news-area
                            h3.small-header-with-icon
                                span.sprite.sprite-i-fav-speech-bubble
                                em Обсуждаемые новости
                            .row
                                if discussed_news && discussed_news.length
                                    each item, i in discussed_news
                                        .col-md-4.col-lg-6.col-sm-4.col-xs-6.cast-news-item
                                            mixin cast_news_item(item)
                                        if i > 0 && (i+1) % 2 == 0
                                            .visible-lg-block.clearboth
                                        if i > 0 && (i+1) % 3 == 0
                                            .visible-md-block.visible-sm-block.clearboth

            section.page-news-other-block
                .container
                    h3.small-header-with-icon
                        span.sprite.sprite-i-small-globe
                        em Другие новости
                    .row
                        if other_news && other_news.length
                            each item,i in other_news
                                .col-lg-3.col-md-4.col-sm-4.col-xs-6.cast-news-item
                                    a(href=item.url, alt="", title="").other-news-poster
                                        img(src=item.poster)
                                    mixin cast_news_item(item)
                                if i > 0 && (i+1) % 4 == 0
                                    .visible-lg-block.clearboth
                                if i > 0 && (i+1) % 3 == 0
                                    .visible-md-block.visible-sm-block.clearboth
                    .page-navigation
                        span.page-prev-btn
                            a(href="#") Предыдущая
                        span.page-num-buttons
                            span.page-num-btn 1
                            a(href="#").page-num-btn 2
                            a(href="#").page-num-btn 3
                            a(href="#").page-num-btn 4
                            a(href="#").page-num-btn 5
                            | ...
                            a(href="#").page-num-btn 58
                        span.page-next-btn
                            a(href="#") Следующая

            include footer