/* Custom Icon Font
--------------------------------------------------------------------------------
The control icons are from a custom font. Each icon corresponds to a character
(e.g. "\e001"). Font icons allow for easy scaling and coloring of icons.
*/
.vjs-dark-acid-skin.video-js {
  font-size: 13.35px;
}
.vjs-dark-acid-skin:hover .vjs-progress-control,
.vjs-dark-acid-skin .vjs-progress-control {
  height: 0.53em;
  font-size: inherit;
  border: 1px solid #000000;
}
.vjs-dark-acid-skin .vjs-live-controls,
.vjs-dark-acid-skin .vjs-mute-control,
.vjs-dark-acid-skin .vjs-subtitles-button,
.vjs-dark-acid-skin .vjs-captions-button,
.vjs-dark-acid-skin .vjs-seek-handle {
  display: none;
}
.vjs-dark-acid-skin .vjs-remaining-time {
  float: right;
  text-align: left;
}
.vjs-dark-acid-skin .vjs-progress-holder {
  background: #000000;
}
.vjs-dark-acid-skin .vjs-control-bar {
  background: #2B2B2B;
  left: 10px;
  right: 10px;
  bottom: 12px;
  line-height: 3em;
}
.vjs-dark-acid-skin .vjs-progress-control {
  position: absolute;
  top: 1.135em;
  left: 8.5em;
  right: 22em;
  margin-bottom: 0.5em;
}
.vjs-dark-acid-skin .vjs-play-progress {
  background: #9FE32E;
}
.vjs-dark-acid-skin .vjs-play-control {
  background: #404040;
  color: #FFFFFF;
  width: 4.5em;
}
.vjs-dark-acid-skin .vjs-quality-btn {
  display: block;
  float: left;
  vertical-align: middle;
  font-weight: bold;
  color: #606060;
  cursor: pointer;
  background: #404040;
  border-left: 1px solid #2B2B2B;
  width: 2.9em;
}
.vjs-dark-acid-skin .vjs-quality-btn.is-activated {
  color: #8FD713;
}
.vjs-dark-acid-skin .vjs-quality-bar {
  float: right;
}
.vjs-dark-acid-skin .vjs-duration {
  float: right;
  text-align: left;
}
.vjs-dark-acid-skin .vjs-time-controls {
  width: 3em;
}
.vjs-dark-acid-skin .vjs-current-time {
  text-align: right;
}
.vjs-dark-acid-skin .vjs-time-divider {
  padding: 0 0.3em 0 0.3em;
  display: none;
}
.vjs-dark-acid-skin .vjs-volume-control {
  background: #404040;
  width: 4.5em;
}
.vjs-dark-acid-skin .vjs-volume-level {
  width: 3px;
  height: 14px;
  margin: 0 1px 0 2px;
  position: relative;
  float: left;
  background: #616161;
  cursor: pointer;
}
.vjs-dark-acid-skin .vjs-volume-level.is-activated {
  background: #FFFFFF;
}
.vjs-dark-acid-skin .vjs-volume-wrapper {
  position: relative;
  padding: 0 12px 0 12px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.vjs-dark-acid-skin .vjs-fullscreen-control {
  background: #404040;
  border-left: 1px solid #2B2B2B;
  color: #FFFFFF;
  font-weight: bold;
  width: 4.5em;
}
.vjs-dark-acid-skin .vjs-circle-play-btn:before {
  content: "\e001";
  font-family: VideoJS;
  line-height: 80px;
  vertical-align: middle;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 30px;
}
.vjs-dark-acid-skin .vjs-circle-play-btn {
  position: absolute;
  background-color: #DFDFDF;
  color: #333333;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  text-align: center;
  cursor: pointer;
}
