doctype html
html
    include config
    include mixins
    include head
    body
        include header
        - cls = ""
        - bg_image = ""
        if topic_name
            - bg_image = 'background-image: url("' + topics_bg[topic_name] + '")'
        else
            - cls = "no-topic-wrapper"
        .topic-wrapper(style=bg_image, class=cls)
            .shadow-container-wrapper
                .shadow-container
                    section.page-news-main-block
                        .container
                            - news_block_title = "Обсуждаемые новости"
                            - news_block_no_archive_link = true
                            include parts/news_block
                    section.page-news-other-block.news-block
                        .container
                            h3.small-header-with-icon
                                span.sprite.sprite-i-small-globe
                                em Другие новости
                            .row
                                if other_news && other_news.length
                                    each item,i in other_news
                                        .col-lg-3.col-md-4.col-sm-4.col-xs-6.cast-news-item
                                            a(href=item.url, alt="", title="").other-news-poster
                                                img(src=item.poster)
                                            mixin news_thumb(item)
                                        if i > 0 && (i+1) % 4 == 0
                                            .visible-lg-block.clearboth
                                        if i > 0 && (i+1) % 3 == 0
                                            .visible-md-block.visible-sm-block.clearboth
                            //- todo: make it live!
                            .page-navigation.hide
                                span.page-prev-btn
                                    a(href="#") Предыдущая
                                span.page-num-buttons
                                    span.page-num-btn 1
                                    a(href="#").page-num-btn 2
                                    a(href="#").page-num-btn 3
                                    a(href="#").page-num-btn 4
                                    a(href="#").page-num-btn 5
                                    | ...
                                    a(href="#").page-num-btn 58
                                span.page-next-btn
                                    a(href="#") Следующая
                include footer
                script.
                    $(document).ready(function () {window.InitApp({page_conf: {}}, "News")})